.hero {
  position: relative;
  padding-top: 140px;
  padding-bottom: 40px;

  a {
    text-decoration: none;
  }
}

.hero-paragraph {
  color: color(typography, 2);
  max-width: 400px;
  margin: auto;
  margin-bottom: 32px;
}

.hero-inner {
  button {
    font-weight: 400;
  }
}

#hero-button {
  border-radius: 100px;
  box-shadow: 0 8px 24px rgba(color(typography, 1), 0.12);
  mix-blend-mode: multiply;
  transition: box-shadow 0.15s ease;
  line-height: 20px;

  &:hover {
    box-shadow: 0 8px 24px rgba(color(typography, 1), 0.25);
  }
}
