.themes {
  display: none;

  @include media('>large') {
    display: flex;
    justify-content: space-around;
    width: 1124px;
    margin: auto;
    margin-top: 25vh;
    align-items: center;
  }
}

.theme-one,
.theme-two,
.theme-three,
.theme-four,
.theme-five,
.theme-six {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  cursor: pointer;
  @include shadow;
}

.theme-one {
  background: color(themes, 1);
}

.theme-two {
  background: color(themes, 2);
}

.theme-three {
  background: color(themes, 3);
}

.theme-four {
  background: color(themes, 4);
}

.theme-five {
  background: color(themes, 5);
}

.theme-six {
  background: color(themes, 6);
}
